<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/custom.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Oversteam</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
				aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/shop">Shop</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
							aria-haspopup="true" aria-expanded="false">Categories</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Sandbox</a>
							<a class="dropdown-item" href="#">Real-time strategy (RTS)</a>
							<a class="dropdown-item" href="#">Shooters (FPS and TPS)</a>
							<a class="dropdown-item" href="#">Multiplayer online battle arena (MOBA)</a>
							<a class="dropdown-item" href="#">Role-playing (RPG, ARPG, and More)</a>
							<a class="dropdown-item" href="#">Simulation and sports</a>
							<a class="dropdown-item" href="#">Puzzlers and party games</a>
							<a class="dropdown-item" href="#">Action-adventure</a>
							<a class="dropdown-item" href="#">Survival and horror</a>
							<a class="dropdown-item" href="#">Platformer</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/profile">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/about">About</a>
					</li>
				</ul>
				<div class="d-flex">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="btn btn-secondary me-sm-2" href="/login">Login</a>
						</li>
						<li class="nav-item">
							<a class="btn btn-secondary" href="/signin">Signin</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="bs-docs-section clearfix" id="api">
			<h2>Help</h2>
			<p>Don't think I'm going to write a fuckin 'help page and beg for a little.</p>
		</div>

		<div class="bs-docs-section clearfix" id="api">
			<h2>API</h2>
			<h3>Register request</h3>
			<p>Used to create a new user with <code>POST</code> method.</p>
			<p>Path: <code>/users/register/</code></p>
			<p>JSON example:
			<pre><code>{
    email: email,
    password: password,
}</code></pre>
			</p>
			<h3>Login request</h3>
			<p>Used to log a user in with <code>POST</code> method.</p>
			<p>Path: <code>/users/login/</code></p>
			<p>JSON example:
			<pre><code>{
    email: email,
    username: username,
    password: password,
    passwordVerif: passwordVerif
}</code></pre>
			</p>
		</div>

		<div class="bs-docs-section clearfix" id="donate">
			<div class="row">
				<h2>Please, buy us a coffee</h2>
				<p>You don't have to make a choice, donate to both of us</p>
				<div class="col-lg-6">
					<h3>Lechiffre4</h3>
					<button type="button" class="btn btn-info"
						onclick="window.open('https://www.paypal.com/paypalme/sahelh')">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-paypal" viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.351.351 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91.379-.27.712-.603.993-1.005a4.942 4.942 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.687 2.687 0 0 0-.76-.59l-.094-.061zM6.543 8.82l-.845 5.213v.001l-.208 1.32c-.01.066.04.123.105.123H8.14c.173 0 .32-.125.348-.296v-.005l.026-.129.48-3.043.03-.164a.873.873 0 0 1 .862-.734h.38c1.201 0 2.24-.244 3.043-.815.797-.567 1.39-1.477 1.663-2.874.229-1.175.096-2.087-.45-2.71a2.126 2.126 0 0 0-.548-.438l-.003.016c-.645 3.312-2.853 4.456-5.672 4.456H6.864a.695.695 0 0 0-.321.079z" />
						</svg>
						Donate</button>
				</div>
				<div class="col-lg-6">
					<h3>Paracetamol56</h3>
					<button type="button" class="btn btn-info"
						onclick="window.open('https://www.paypal.com/paypalme/gamatheo')">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-paypal" viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.351.351 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91.379-.27.712-.603.993-1.005a4.942 4.942 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.687 2.687 0 0 0-.76-.59l-.094-.061zM6.543 8.82l-.845 5.213v.001l-.208 1.32c-.01.066.04.123.105.123H8.14c.173 0 .32-.125.348-.296v-.005l.026-.129.48-3.043.03-.164a.873.873 0 0 1 .862-.734h.38c1.201 0 2.24-.244 3.043-.815.797-.567 1.39-1.477 1.663-2.874.229-1.175.096-2.087-.45-2.71a2.126 2.126 0 0 0-.548-.438l-.003.016c-.645 3.312-2.853 4.456-5.672 4.456H6.864a.695.695 0 0 0-.321.079z" />
						</svg>
						Donate</button>
				</div>
			</div>
		</div>

		<footer id="footer">
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-unstyled">
						<li class="float-end"><a href="#top">Back to top</a></li>
						<li><a href="https://github.com/Paracetamol56/OverSteam">GitHub</a></li>
						<li><a href="../about/#api">API</a></li>
						<li><a href="../about/#donate">Donate</a></li>
					</ul>
					<p>Made by <a href="https://github.com/Lechiffre4">Lechiffre4</a> and <a
							href="https://github.com/Paracetamol56">Paracetamol56</a>.</p>
					<p>Code released under the <a
							href="https://github.com/Paracetamol56/OverSteam/blob/main/LICENSE">Apache
							License 2.0</a>.</p>
					<p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a
							href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a
							href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
				</div>
			</div>
		</footer>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/javascripts/jquery-3.6.0.min.js"></script>
	<script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>