<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/custom.css">

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Oversteam</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
				aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/shop">Shop</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/library">Library</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
							aria-expanded="false">Categories</a>
						<div class="dropdown-menu" id="category-dropdown">
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/profile">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">About</a>
					</li>
				</ul>
				<div class="d-flex" id="btn">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="btn btn-secondary me-sm-2" href="/login">Login</a>
						</li>
						<li class="nav-item">
							<a class="btn btn-secondary" href="/signin">Signin</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="bs-docs-section clearfix">
			<div class="row">
				<div class="page-header">
					<h1>Welcome to Oversteam</h1>
				</div>
				<div class="col-lg-7">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non hendrerit quam, ut laoreet elit.
						Integer
						hendrerit sapien a odio iaculis auctor. Vestibulum ante ipsum primis in faucibus orci luctus et
						ultrices
						posuere cubilia curae; Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla non
						lacus magna.
						Nulla ante leo, congue nec risus et, posuere tincidunt ex. Duis efficitur gravida fringilla.
						Fusce a
						faucibus ante. Phasellus ut ex at orci blandit porta. Nunc lacinia, ligula non vehicula pretium,
						quam ipsum
						molestie nisi, et consectetur arcu ligula id libero.</p>
					<br>
					<p>Donec placerat porta lectus non vestibulum. Donec pharetra suscipit iaculis. Duis sit amet dictum
						augue,
						quis tincidunt dolor. Quisque id blandit lectus. In hac habitasse platea dictumst. Fusce in
						dictum augue.
						Morbi sagittis lacus vel purus tempus, viverra facilisis nulla efficitur. Curabitur a turpis
						quis ex
						pharetra semper sed ut libero. Vivamus varius faucibus facilisis.</p>
				</div>
				<div class="col-lg-5">
					<div class="card border-primary mb-3" style="max-width: 20rem;">
						<div class="card-body">
							<h4 class="card-title">Get connected</h4>
							<p>Create An Account</p>
							<button type="button" class="btn btn-secondary" onclick="window.location.href='/signin'">Sign
								in</button>
							<br><br>
							<p>Login</p>
							<button type="button" class="btn btn-secondary" onclick="window.location.href='/login'">Login</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer id="footer">
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-unstyled">
						<li class="float-end"><a href="#top">Back to top</a></li>
						<li><a href="https://github.com/Paracetamol56/OverSteam">GitHub</a></li>
						<li><a href="../about/#api">API</a></li>
						<li><a href="../about/#donate">Donate</a></li>
					</ul>
					<p>Made by <a href="https://github.com/Lechiffre4">Lechiffre4</a> and <a
							href="https://github.com/Paracetamol56">Paracetamol56</a>.</p>
					<p>Code released under the <a href="https://github.com/Paracetamol56/OverSteam/blob/main/LICENSE">Apache
							License 2.0</a>.</p>
					<p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a
							href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a
							href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
				</div>
			</div>
		</footer>
	</div>
	<!-- Optional JavaScript -->
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.bundle.min.js"></script>
	<script src="/javascripts/prism.js" data-manual></script>
	<script src="/javascripts/custom.js"></script>

</body>
<script>
	// Display categories in the dropdown menu
	$(document).ready(function () {
		$.ajax({
			url: '/api/categories/all',
			type: 'GET',
			success: function (data) {
				$.each(data, function (index, value) {
					$('#category-dropdown').append('<a class="dropdown-item" href="/shop?id=' + value.id + '">' + value.name + '</a>');
				});
			}
		});
	});

	const buttons = document.getElementById('btn');

	if (document.cookie) {
		buttons.innerHTML =
			`<ul class="navbar-nav me-auto">
		<li class="nav-item">
			<a class="btn btn-secondary me-sm-2" href="/login">Disconnect</a>
		</li>
	</ul>
	`;
	};


</script>

</html>