html
  head
    meta(charset='utf-8')
    // importer le fichier de style
    link(rel='stylesheet',href='/stylesheets/styleLogin.css')
  body
    #container
      // zone de connexion
      form(action='./ValidationConnection.php' method='POST')
        h1 Connexion
        label
          b Username
        input(type='text' placeholder="Entrer le nom d'utilisateur" name='pseudo' required='')
        label
          b Password
        input(type='password' placeholder='Entrer le mot de passe' name='mdp' required='')
        input#submit(type='submit' value='LOGIN')
