<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Oversteam</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/library">Library</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Categories</a>
                        <div class="dropdown-menu" id="category-dropdown">
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
                <div class="d-flex" id="btn">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="btn btn-secondary me-sm-2" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary" href="/signin">Signin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="bs-docs-section clearfix">
            <div class="row">
                <div class="page-header d-flex justify-content-between">
                    <h1>My Games</h1>
                    <a class="btn btn-outline-secondary my-auto" href="../profile">Profile</a>
                </div>
                <div class="d-flex flex-wrap justify-content-left" id="game-list">
                </div>
            </div>

            <footer id="footer">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            <li class="float-end"><a href="#top">Back to top</a></li>
                            <li><a href="https://github.com/Paracetamol56/OverSteam">GitHub</a></li>
                            <li><a href="../about/#api">API</a></li>
                            <li><a href="../about/#donate">Donate</a></li>
                        </ul>
                        <p>Made by <a href="https://github.com/Lechiffre4">Lechiffre4</a> and <a
                                href="https://github.com/Paracetamol56">Paracetamol56</a>.</p>
                        <p>Code released under the <a
                                href="https://github.com/Paracetamol56/OverSteam/blob/main/LICENSE">Apache
                                License 2.0</a>.</p>
                        <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a
                                href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a
                                href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- Optional JavaScript -->
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/bootstrap.bundle.min.js"></script>
        <script src="/javascripts/prism.js" data-manual></script>
        <script src="/javascripts/custom.js"></script>

</body>
<script>
    // Display categories in the dropdown menu
    $(document).ready(function () {
        $.ajax({
            url: '/api/categories/all',
            type: 'GET',
            success: function (data) {
                $.each(data, function (index, value) {
                    $('#category-dropdown').append('<a class="dropdown-item" href="/shop?id=' + value.id + '">' + value.name + '</a>');
                });
            }
        });
    });

    const buttons = document.getElementById('btn');

    if (document.cookie) {
        buttons.innerHTML =
            `<ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="btn btn-secondary me-sm-2" href="/login">Disconnect</a>
            </li>
        </ul>
        `;
    };


    const gameList = document.getElementById('game-list');

    fetch("/api/games/all", {
        method: 'GET'
    })
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            if (data.length > 0) {
                data.forEach(function (game) {
                    gameid = game['id'];
                    var loc = "/game?id=" + gameid;


                    //////fetch for the category/////////
                    fetch("/api/categories/all", {
                        method: 'GET'
                    })
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (data) {
                            if (data.length > 0) {
                                data.forEach(function (cat) {
                                    if (game['CategoryId'] == cat['id']) {
                                        gameList.innerHTML +=
                                            `<div class="card border-primary mb-3 mx-3" style="width: 20rem;">
                                            <div class="card-header" id ="category">` + cat['name'] + `</div>
                                                <div class="card-body">
                                                    <h4 class="card-title">` + game['name'] + `</h4>
                                                    <p class="card-text">` + game['description'] + `</p>
                                                    <div class="d-flex justify-content-between">
                                                        <a href="` + loc + `"class="btn btn-primary">View more</a>
                                                        <a href="#" class="btn btn-secondary">Remove this Game</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>`;
                                    }
                                });
                            }
                        });
                });
            }
        });
</script>

</html>