html
  head
    meta(charset='utf-8')
    // importer le fichier de style
    link(rel='stylesheet' href='/stylesheets/styleLogin.css')
  body
    #container
      // zone de connexion
      form(action='./ValidationInscription.php' method='post')
        h1 Create Account
        label
          b Username
        input(type='text' placeholder="Entrez votre nom d'utilisateur" name='pseudo' required='')
        label
          b Email
        input(type='text' placeholder='Entrez votre Email' name='email' required='')
        label
          b Password
        input(type='password' placeholder='Entrez votre mot de passe' name='password' required='')
        label
          b Repeat Password
        input(type='password' placeholder='Entrez de nouveau le mdp' name='passwordRepeat' required='')
        input#submit(type='submit' value='CREATE')
