html{
    background: #1F2421;
}

body{
    background: #f1f1f1;
    margin-top:5%;
    padding-top:1%;
    margin-left:5%;
    margin-right: 5%;
    padding-bottom: 15%;
}

#container{
    width: 400px;
    margin:0 auto;
    margin-top:8%;
   
}

.Username{
    display: flex;
    
    justify-content: center;
}



.informations{
    display: flex;
    justify-content: center;
}

/* Set a style for all buttons */
.button{
    display: flex;
    background-color: #216869;
    color: white;
    padding: 15px ;  
    margin-left: 100px;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 20px;
    justify-content: center;
    
}
.button:hover {
    background-color: #f1f1f1;
    color: #53af57;
    border: solid#216869;
    border-radius: 20px;
}

.Title{
    display:flex;
    
    justify-content: center;
}

.profilebutton{
    display: flex;
    width: 400px;
    margin:0 auto;
    margin-top:2%;
    background-color: #216869;
    color: white;
    padding: 15px ;  
    margin-left: 20px;
    border: none;
    cursor: pointer;
    width: 5%;
    border-radius: 20px;
    align-items: flex-start;
    align-content: center;
}