<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/custom.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Oversteam</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shop">Shop</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Categories</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Sandbox</a>
              <a class="dropdown-item" href="#">Real-time strategy (RTS)</a>
              <a class="dropdown-item" href="#">Shooters (FPS and TPS)</a>
              <a class="dropdown-item" href="#">Multiplayer online battle arena (MOBA)</a>
              <a class="dropdown-item" href="#">Role-playing (RPG, ARPG, and More)</a>
              <a class="dropdown-item" href="#">Simulation and sports</a>
              <a class="dropdown-item" href="#">Puzzlers and party games</a>
              <a class="dropdown-item" href="#">Action-adventure</a>
              <a class="dropdown-item" href="#">Survival and horror</a>
              <a class="dropdown-item" href="#">Platformer</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="btn btn-secondary me-sm-2" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-secondary" href="/signin">Signin</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <form id="form">
            <fieldset>
              <legend>Create an account</legend>
              <div class="form-group">
                <label for="email" class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                  placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
              <div class="form-group">
                <label for="username" class="form-label mt-4">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                  placeholder="Enter username">
              </div>
              <div class="form-group">
                <label for="password" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" id="password1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="password" class="form-label mt-4">Confirm password</label>
                <input type="password" class="form-control" id="password2" placeholder="Repeat your password">
              </div>
            </fieldset>
            <br>
            <p>By clicking the submit button below, I hereby agree to and accept the following <a href="#">terms and
                conditions</a> governing my use of the Oversteam website.</p>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-unstyled">
            <li class="float-end"><a href="#top">Back to top</a></li>
            <li><a href="https://github.com/Paracetamol56/OverSteam">GitHub</a></li>
            <li><a href="../help/#api">API</a></li>
            <li><a href="https://www.paypal.com/paypalme/sahelh">Donate</a></li>
          </ul>
          <p>Made by <a href="https://github.com/Lechiffre4">Lechiffre4</a> and <a
              href="https://github.com/Paracetamol56">Paracetamol56</a>.</p>
          <p>Code released under the <a href="https://github.com/Paracetamol56/OverSteam/blob/main/LICENSE">Apache
              License 2.0</a>.</p>
          <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a
              href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a
              href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</body>


<script>
  var form = document.getElementById('form');
  form.addEventListener('submit',function(e)
  {
    e.preventDefault();
    var email = document.getElementById("email").value
    var username = document.getElementById("username").value
    var password = document.getElementById("password1").value

    fetch("https://jsonplaceholder.typicode.com/posts",{
      method:'POST',
      body:JSON.stringify({
        email:email,
        username:username,
        password:password
      }),
      headers:{
        "Content-Type":"application/json; charset=UTF-8"
      }
    })
    .then(function(response){
      return response.json()
    })
    .then(function(data){
      console.log(data)
    })
    
  })
</script>
</html>